<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>ABOUT</title>
</head>
<body>
    <section class="section">
        <h1>About Jack Dorsey</h1>
        <article id="article1">
            <p>
                Jack Patrick Dorsey (born November 19, 1976) is an American software developer and business person, 
                widely known as the creator of social networking service Twitter. He is also the founder and CEO of Square, 
                a mobile payments company. In 2008, he was named as one of the top 35 innovators in the world under the age of 35.
                He worked as a model.
            </p>
            <p>
                Dorsey was born Jack Patrick Dorsey in St. Louis, Missouri, the son of Tim and Marcia (née Smith) Dorsey.
                He is of English, Irish, and Italian descent. His father worked for a company that developed mass spectrometers and his mother was a homemaker.
                He was raised Catholic, and his uncle is a Catholic priest in Cincinnati.[18] He attended the Catholic Bishop DuBourg High School. 
                In his younger days, Dorsey worked occasionally as a fashion model.
                By age fourteen, Dorsey had become interested in dispatch routing. 
                Some of the open-source software he created in the area of dispatch logistics is still used by taxicab companies.
                Dorsey attended the University of Missouri–Rolla for two-plus years (1995–97) before transferring to New York University, but he dropped out in 1999,
                one semester short of graduating. He came up with the idea that he developed as Twitter while studying at NYU.
            </p>
                
            <div>
                <a href="/"> HOME</a>
        <a href="/work"> WORK </a>
        <a href="/gallery"> PHOTOS </a>
            </div> 

        </article>
    </section>
</body>
</html>