<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/gallery.css">
    <title>PHOTOS</title>
</head>
<body>
    <div>
        <a href="/"> HOME</a>
        <a href="/about"> ABOUT</a>
        <a href="/work"> CAREER </a>
    </div>

    <section class="section">
        <h1>Jack Dorsey's gallery</h1>
        <article id="article1">
            <img src="/img/jackDorseyPic.jpg" alt="jackDorseyPic">
            <img src="/img/jackDorseyPic2.jpg" alt="jackDorseyPic">
            <img src="/img/jackDorseyPic3.jpg" alt="jackDorseyPic">

        </article>
    </section>
</body>
</html>