<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Spline+Sans+Mono:wght@300;400;500&display=swap" rel="stylesheet">
</head>

<body>
    <section class="section">
        <h1>Jack Dorsey</h1>
        <article id="article1">
            <img src="/img/jackDorseyPic.jpg" alt="jackDorseyPic">
            <h3>Welcome to our page! 
                <br>
                If you would like to know more about Jack Dorsey, 
                <br>
                follow the buttons below.</h3>
            <div>
                <a href="/about"> ABOUT</a>
                <a href="/work"> CAREER </a>
                <a href="/gallery"> PHOTOS </a>
            </div>
           
        </article>
    </section>
    
    
    
    
</body>

</html>